{% load static %}
{% load i18n %}
<div class="about" id="about">
  <div class="row">
    <div class="col s12">
      <h5 class="center green-text darken-4 no-marg">{% trans "Main Features of ODE" %}</h5>
      <p class="center">{% trans "Here are the main features of Open Data Explorer that can help you to create your project idea using OGD." %}<br/><br/></p>
    </div>
    <div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <a class="btn-floating halfway-fab waves-effect waves-light green" href="javascript:void(0)" style="cursor:auto;"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">{% trans "Create project" %}</span>
            <p>{% trans "Colloborate with your team on the same project using project code." %}</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <a class="btn-floating halfway-fab waves-effect waves-light green" href="javascript:void(0)" style="cursor:auto;"><i class="material-icons">view_day</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">{% trans "Select data from OGD portals" %}</span>
            <p>{% trans "Select data from different OGD portals to build your project." %}</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <a class="btn-floating halfway-fab waves-effect waves-light green" href="javascript:void(0)" style="cursor:auto;"><i class="material-icons">preview</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">{% trans "Get quick overview of your data and data quality" %}</span>
            <p>{% trans "Get a quick overview of the content of your data without downloading them. You can also get a quick idea about the quality of any selected dataset from OGD portals." %}</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <a class="btn-floating halfway-fab waves-effect waves-light green" href="javascript:void(0)" style="cursor:auto;"><i class="material-icons">filter_alt</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">{% trans "Filter & process data" %}</span>
            <p>{% trans "Easily filter and process your data before using them (e.g., aggregate multiple datasets, combine multiple datasets, and more)." %}</p>
          </div>
        </div>
      </div>
      <div style="clear:both;"></div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <a class="btn-floating halfway-fab waves-effect waves-light green" href="javascript:void(0)" style="cursor:auto;"><i class="material-icons">leaderboard</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">{% trans "Visualize data" %}</span>
            <p>{% trans "Get recommendation visualizations for your dataset or Easily create a visualization using drag and drop." %}</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <a class="btn-floating halfway-fab waves-effect waves-light green" href="javascript:void(0)" style="cursor:auto;"><i class="material-icons">menu_book</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">{% trans "Tell stories with your data" %}</span>
            <p>{% trans "Use the created visualizations to tell stories with your data." %}</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <a class="btn-floating halfway-fab waves-effect waves-light green" href="javascript:void(0)" style="cursor:auto;"><i class="material-icons">share</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">{% trans "Share your stories" %}</span>
            <p>{% trans "Share your findings with your friends or the community." %}</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <a class="btn-floating halfway-fab waves-effect waves-light green" href="javascript:void(0)" style="cursor:auto;"><i class="material-icons">comment</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">{% trans "Get feedback from the community" %}</span>
            <p>{% trans "You can get some useful feedback from the community to improve your findings." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
